.btn {
  // text-transform: uppercase;
  padding: 10px;
  color: $base-white;
  font-size: 12px;
  border-radius: 0;
  font-weight: 700;
  // display: flex;
  margin:auto 8px;
  &.btn-primary {
    background-color: $base-green;
    transition: all 0.2s ease-in-out;
    border-color: $base-green;
    &:hover {
      background-color: darken($base-green, 25);
      border-color: darken($base-green, 25);
    }
  }
  &.btn-secondary {
    background-color: $base-grey;
    border-color: $base-grey;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: darken($base-grey, 25);
      border-color: darken($base-grey, 25);
    }
  }
}

$socialNetwork: facebook instagram twitter youtube;
.btn-social {
  background-color: $base-black;
  width: 36px;
  height: 36px;
  margin-left: 4px;
  @each $social in $socialNetwork {
    &.btn-#{$social} {
      background: url(../images/#{$social}.svg) no-repeat center #000000;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: lighten($base-black, 25);
      }
    }
  }
  .btn-social.btn-facebook{
    margin-left: 0;
  }
}

.backToTop__block{
  // position: fixed;
  // bottom:40px;
  display: flex;
  justify-content: flex-end;
  min-width:1140px;
  z-index:10;
   @include mobile {
     display: none;
   }
// Back Top button
  .backToTop__button{
    display: flex;
    height: 16px;
        width: auto;
        font-size: 10px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-weight: 400;
        color: #999;
        transform-origin: right;
        // border: 1px solid #404;
        position: fixed;
        bottom: 210px;
        right:34px;
        cursor: pointer;
            z-index: 10;
        // background-color: rgba($base-black, 0.1);
    .backToTop__line{
      display: flex;
          border-top: 1px solid #999;
          width: 140px;
          margin-top: 8px;
          margin-right: 4px;
    }
  }
}
