.slick-slider{
    margin: 0 40px;
}

.slick-slide {
  img{
    margin:0 auto;
    &:focus{
      outline:none;
    }
  }
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    z-index:10;
    opacity: .5;
    transition: all .2s ease-in-out;
    &:focus{
      outline:none;
    }
    &:hover{
      opacity: .9;
    }
}

.slick-prev {
    left: -40px;
    background-image: url("../images/arrow-left-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;

}
.slick-next {
    right: -40px;
    background-image: url("../images/arrow-right-black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}
