/*------
 VC Layout
 @className: vc_layout
------*/

@for $i from 1 through 12 {
.fd-vc-row{
   .fd-vc-column-#{$i} {
     flex-direction: row;
     width: percentage($i/12);
     padding: 0 11px;
     @include desktop {
        width: 100%;
        flex-direction: column;
        padding-bottom: 11px;
     }
     @include tablet {
        width: 100%;
        flex-direction: column;
        padding-bottom: 11px;
     }
     @include mobile {
        width: 100%;
        flex-direction: column;
        padding-bottom: 11px;
     }
   }
   .fd-vc-column-#{$i}:last-child{
     @include tablet {
       padding-bottom: 0;
     }
     @include mobile {
       padding-bottom: 0;
     }
   }
 }
}

.fd-vc-row {
  margin:0 -15px 22px;
  display: flex;
  flex-direction: row;
  @include tablet {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
  }
}

.fd-vc-row[data-vc-full-width="true"]  {
  margin:0 0 22px;
  .fd-vc-column-12{
    padding:0;
  }
}

.fd-vc-column {}


/*------
 Header Carousel
 @className: vc-icon
------*/
.carousel-control-next-icon {
  background-image: url("../images/arrow-right-white.svg");
  width: 18px;
  height: 18px;
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow-left-white.svg");
  width: 18px;
  height: 18px;
}

/*------
 Image Carousel
 @className: vc_images_carousel
------*/
.vc_images_carousel .vc_carousel-control span.icon-next,
.vc_images_carousel .vc_carousel-control span.icon-prev {
  background-image: url("../images/arrow-right-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-top: -10px;
}

.vc_images_carousel .vc_carousel-control span.icon-next {
  background-image: url("../images/arrow-right-black.svg");

  &:before {
    content: '';
  }

  .white & {
    background-image: url("../images/arrow-right-white.svg");
  }
}

.vc_images_carousel .vc_carousel-control span.icon-prev {
  background-image: url("../images/arrow-left-black.svg");

  &:before {
    content: '';
  }

  .white & {
    background-image: url("../images/arrow-left-white.svg");
  }
}

.vc_images_carousel .vc_carousel-control .icon-next:before,
.vc_images_carousel .vc_carousel-control .icon-prev:before {
  content: none !important;
}

.wpb_images_carousel{
  margin:30px auto;
}

/*------
 Image Carousel
 @className: vc_images_carousel
------*/
.vc_images_carousel {
  .vc_item {
    text-align: center;
    margin: 0 auto;
  }
}

/*------
 Right Nav
 @className: vc_rightnav
------*/
.vc_rightnav {
  position: fixed;
  right: 30px;
  top: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  list-style: none;
  z-index: 10020;
  transition: 0.5s;
  backface-visibility: hidden;
  background: url("data:image/svg+xml;utf8,<svg width='8px' height='500px' viewBox='0 0 8 500' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'> <g id='Page-1' stroke='none' stroke-width='.5' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'> <g id='line' stroke='#AAAAAA'> <path d='M3.8,0 L3.8,500' id='Line'></path> </g> </g> </svg>") no-repeat;
  padding: 10px 0;
  transition: right .2s ease-in-out;
  @include mobile {
    display: none;
  }
  li{
    width: 8px;
    height: 8px;
    margin-bottom: 10px;
    display: flex;
  }
  li a{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    background-color: #CCC;
  }
  li.active a{
    background-color: $base-black;
  }
}

/*------
 Text Block
 @className: wpb_text_column
------*/
.wpb_content_element{
  margin-bottom: 0;
}


/*------
 Text Block
 @className: carousel-anything-container
------*/

.has-arrows .owl-ca-controls .owl-ca-buttons{
  .owl-ca-prev {
      left: 0px  !important;
  }
   .owl-ca-next {
      right: 0px;
  }
}
