.gambit-carousel-anything.owl-ca-theme.has-arrows .owl-ca-wrapper-outer,
.gambit-carousel-posts.owl-ca-theme.has-arrows .owl-ca-wrapper-outer {
  z-index: 2; }
.gambit-carousel-anything.owl-ca-theme.has-arrows .owl-ca-controls,
.gambit-carousel-posts.owl-ca-theme.has-arrows .owl-ca-controls {
  position: relative;
  right: 0;
  left: 0; }
  .gambit-carousel-anything.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div,
  .gambit-carousel-posts.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div {
    background: transparent;
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    z-index: 12; }
    .gambit-carousel-anything.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-next,
    .gambit-carousel-posts.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-next {
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
      background-image: url(../images/arrow-right-white.svg);
      right: 10px; }
    .gambit-carousel-anything.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-prev,
    .gambit-carousel-posts.owl-ca-theme.has-arrows .owl-ca-controls .owl-ca-buttons div.owl-ca-prev {
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
      background-image: url(../images/arrow-left-white.svg);
      left: 10px; }
.gambit-carousel-anything.owl-ca-theme.has-arrows.black .owl-ca-controls .owl-ca-buttons div.owl-ca-next,
.gambit-carousel-posts.owl-ca-theme.has-arrows.black .owl-ca-controls .owl-ca-buttons div.owl-ca-next {
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  background-image: url(../images/arrow-right-black.svg);
  right: 10px !important; }
.gambit-carousel-anything.owl-ca-theme.has-arrows.black .owl-ca-controls .owl-ca-buttons div.owl-ca-prev,
.gambit-carousel-posts.owl-ca-theme.has-arrows.black .owl-ca-controls .owl-ca-buttons div.owl-ca-prev {
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  background-image: url(../images/arrow-left-black.svg);
  left: 10px !important; }

.gcp-post-image {
  display: block; }

.gcp-post {
  margin-left: 15px;
  margin-right: 15px; }

.gcp-post-title, .gcp-post-author .gcp-post-content {
  width: 100%; }

.gcp-post-title {
  margin-top: 0 !important;
  padding-top: 0 !important; }

.gcp-post-title, .gcp-post-author, .gcp-post-content {
  padding-left: 0;
  padding-right: 0; }

.gambit-carousel-posts.owl-ca-theme .owl-ca-controls {
  margin-top: 0; }

.gambit-carousel-anything.owl-ca-theme .owl-ca-controls {
  margin-top: 0;
  text-align: center;
  z-index: 12; }

.gcp-post-content > .moretag {
  display: none; }

/**

.gcp-title-author {
	width: 100%;
	//top: 50%;
	//position: absolute;
}

.gcp-design-bg {
	.gcp-title-excerpt, .gcp-author-excerpt .gcp-title-author-excerpt {
		bottom: 0;
		//position: absolute;
		padding: 20px;
		width: 100%;
	}
}

.gcp-title-and-excerpt > .gcp-post-title, .gcp-author-and-excerpt > .gcp-post-title, .gcp-author-and-excerpt > .gcp-post-title, .gcp-author-and-excerpt > .gcp-post-title, .gcp-title-and-excerpt > .gcp-post-author, .gcp-author-and-excerpt > .gcp-post-author, .gcp-author-and-excerpt > .gcp-post-author, .gcp-author-and-excerpt > .gcp-post-author {
	padding-bottom: 20px;
}

.gcp-title-and-excerpt > .gcp-post-content, .gcp-author-and-excerpt > .gcp-post-content, .gcp-author-and-excerpt > .gcp-post-content, .gcp-author-and-excerpt > .gcp-post-content {
	margin: 0;
}
*/
.gcp-design-image .gcp-post-author + .gcp-post-content,
.gcp-design-image .gcp-post-title + .gcp-post-content {
  margin-top: 20px; }

.gcp-design-bg {
  position: relative;
  display: flex;
  align-items: center; }
  .gcp-design-bg .gcp-caption-wrapper {
    width: 100%;
    top: 50%;
    z-index: 1; }
  .gcp-design-bg .gcp-caption-wrapper .gcp-has-excerpt {
    top: 50%;
    bottom: 0;
    transform: none; }
  .gcp-design-bg > .gcp-posts-link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border: 0 !important;
    box-shadow: none !important; }

.gcp-design-bg-has-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.gcp-design-bg .gcp-caption-wrapper > *:first-child {
  margin-top: 0 !important; }

.gcp-design-bg .gcp-caption-wrapper > *:last-child {
  margin-bottom: 0 !important; }

.gcp-caption-wrapper {
  padding: 30px !important; }
  .gcp-caption-wrapper h4, .gcp-caption-wrapper p {
    margin: 0 0 15px !important; }

.carousel-anything-container .owl-ca-item .wpb_row .x-column {
  max-width: 100%; }

.ca-equal-height .owl-ca-wrapper {
  display: flex !important; }
.ca-equal-height .owl-ca-item > .vc_row,
.ca-equal-height .owl-ca-item > .wpb_row,
.ca-equal-height .owl-ca-item > .gcp-post {
  height: 100%; }
