.vc_button{
  display: flex;
  padding-bottom: 11px;
}

.vc_button.button--left{
  justify-content: flex-start;
}

.vc_button.button--center{
  justify-content: center;
}

.vc_button.button--right{
    justify-content: flex-end;
}

.vc_button a{
  margin:0;
}

.vc_button.align-to-colorboxtext a{
  margin: 0 66px;
}

.vc_button.button--green a{
      background-color: #9c3;
          border-color: #9c3;
}
.vc_button.button--grey a{
  background-color: #999;
  border-color: #999;
}
