#header__carousel--fieldays .carousel-inner .carousel-item {
				height: auto;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0px 50%;
}

#header__carousel--fieldays .carousel-caption {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				bottom: auto;
				right: auto;
}

#header__carousel--fieldays .carousel-caption p, #header__carousel--fieldays .carousel-caption h1 {
				/* offset-x | offset-y | blur-radius | color */
				text-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
				margin-top: 2px;
				margin-bottom: 2px;
}

#header__carousel--fieldays .carousel-inner .carousel-caption .carousel-buttons {
				margin-top: 24px;
				display: flex;
				justify-content: center;
}

#header__carousel--fieldays .carousel-indicators li {
				width: 10px;
				height: 10px;
				border-radius: 50%;
}

#header__carousel--fieldays .carousel-control-next, #header__carousel--fieldays .carousel-control-prev {
				width: 5%;
}

.header__submenu {
		background-color: #999999;
		height: auto;
		color: #ffffff;
		font-size: 9.7px;
		display: flex;
		justify-content: center;
		padding-bottom: 14px;
}

.header__submenu ul {
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: center;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				flex-direction: row;
				height: auto;
}

.header__submenu ul li {
				text-transform: uppercase;
				padding: 15px 20px;
				font-weight: 700;
				border-bottom: 2px solid #FFFFFF;
				transition: all .3s ease-in-out;
				cursor: pointer;
}

.header__submenu ul li a {
				color: #FFFFFF;
				text-decoration: none;
				font-size: 12px;
}

.header__submenu ul li:first-child {
				padding-left: 0px;
}

.header__submenu ul li:last-child {
				padding-right: 0px;
}

.header__submenu ul li:hover {
				border-bottom: 2px solid #000000;
				/* color:#000000; */
}

@media (min-width: 768px) and (max-width: 991px) {
	#header__carousel--fieldays .carousel-inner .carousel-item{
		 height:400px !important;
	}
}

@media (max-width: 767px) {
	#header__carousel--fieldays .carousel-inner .carousel-item{
		 height:300px !important;
	}
		.header__submenu {
						display: none;
		}
		#header__carousel--fieldays .carousel-caption h1 {
			font-size:1.8rem;
		}
}
