/*------
 Color Text Block
 @className: vc_color-text-block
------*/
.vc_color-text-block {
  height: 400px;
  background-color: #99cc33;
  color: #FFFFFF;
  padding: 66px;
  overflow: hidden;
  display: flex;
  position: relative;
}
.vc_color-text-block.no-bottom-padding {
  padding-bottom:0;
}
.vc_color-text-block.full-height {
  height: auto;
}
.vc_color-text-block.content--left {
  text-align: left;
}
.vc_color-text-block.content--center {
  text-align: center;
}
.vc_color-text-block.content--right {
  text-align: right;
}
.vc_color-text-block .vc_color-text-block__content {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
}
.vc_color-text-block .vc_color-text-block__content .title {
  font-size: 18px;
  border-bottom: 2px solid #FFFFFF;
  display: inline-block;
  padding-bottom: 6px;
}

.vc_color-text-block.content--left .vc_color-text-block__content .title{
    padding-right: 25px;
}
.vc_color-text-block.content--center .vc_color-text-block__content .title{
    padding: 0 12px 6px;
}
.vc_color-text-block.content--right .vc_color-text-block__content .title{
    padding-left: 25px;
}

.vc_color-text-block .vc_color-text-block__content p {
}
.vc_color-text-block__btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 22px 66px 66px;
}
.vc_color-text-block.green-bg,
.vc_color-text-block.green-bg .vc_color-text-block__btn {
  background-color: #99cc33;
  color: #FFFFFF;
}
.vc_color-text-block.grey-bg,
.vc_color-text-block.grey-bg .vc_color-text-block__btn {
  background-color: #999999;
  color: #FFFFFF;
}
.vc_color-text-block.white-bg,
.vc_color-text-block.white-bg .vc_color-text-block__btn{
  background-color: #FFFFFF;
  color: #999999;
}
.vc_color-text-block.white-bg .vc_color-text-block__content .title {
  border-bottom: 2px solid #999999;
}
.vc_color-text-block__btn a.btn.btn-secondary{
  margin-left: 0;
  color: #FFFFFF;
  cursor: pointer;
}
.vc_color-text-block.grey-bg .vc_color-text-block__btn a.btn.btn-secondary{
  background-color: #99cc33;
  border: 1px #99cc33 solid;
}

@media only screen and (max-width: 991px) and (min-width: 768px)  {

}

@media only screen and (max-width: 767px) and (min-width: 566px)  {
  .vc_color-text-block {
      padding: 44px;
      height: auto;
  }
  .vc_color-text-block .vc_color-text-block__content {
      transform: none;
  }
  .vc_color-text-block__btn{
      display: none;
  }
}

@media only screen and (max-width: 565px)  {
  .vc_color-text-block {
      padding: 10%;
      height: auto;
  }
  .vc_color-text-block .vc_color-text-block__content {
      transform: none;
  }
  .vc_color-text-block__btn{
      display: none;
  }
}
