.wds-vc-countdown{
  margin:24px 0;
}

.countdown_unit{
  width:auto;
  color:#999999;
  margin: 0 8px;
  text-align: center;
}

.countdown_unit h2{
  font-size: 20px;
  margin:0;
}

.countdown_unit p{
  font-size: 12px;
}
