/*------
 Hover Box
 @className: vc-hoverbox
------*/
.vc_hoverbox {
  color: #FFFFFF;
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
}
.vc_hoverbox[data-url]{
  cursor: pointer;
}
.vc_hoverbox .vc_hoverbox-front {
  z-index: 2;
  width: 100%;
  position: absolute;
  top:0;
  height:400px;
}
.vc_hoverbox .vc_hoverbox-front a,
.vc_hoverbox .vc_hoverbox-back a{
  color:#FFFFFF;
  text-decoration: none;
}
.vc_hoverbox .vc_hoverbox-front .vc_hoverbox-block-inner {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 2;
  width: inherit;
  bottom: 20px;
  position: absolute;
}
.vc_hoverbox .vc_hoverbox-front .vc_hoverbox-block-inner h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color:#FFFFFF;
  text-decoration: none;
}
.vc_hoverbox .vc_hoverbox-back {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  background-color: rgba(153, 204, 51, 0.9);
  width: 100%;
  height: 100%;
}
.vc_hoverbox .vc_hoverbox-back .vc_hoverbox-block-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* width: 400px; */
}
.vc_hoverbox .vc_hoverbox-back .vc_hoverbox-block-inner h2 {
  font-size: 20px;
  border-bottom: 2px solid #FFFFFF;
  display: table;
  text-transform: uppercase;
  padding-bottom: 4px;
    color:#FFFFFF;
    text-decoration: none;
}
.vc_hoverbox .vc_hoverbox-back .vc_hoverbox-block-inner p {
  font-size: 12px;
  line-height: 1.5;
    color:#FFFFFF;
    text-decoration: none;
}

.vc_hoverbox .vc_hoverbox-back .vc_hoverbox-block-inner .btn.btn-secondary {
  margin: 0;
}
.vc_hoverbox:hover .vc_hoverbox-front {
  background-color: transparent;
}
.vc_hoverbox:hover .vc_hoverbox-front .vc_hoverbox-block-inner {
  opacity: 0;
}
.vc_hoverbox:hover .vc_hoverbox-back {
  opacity: 1;
  transform: rotateY(0);
  z-index: 2;
}
.vc_hoverbox .vc_hoverbox-block_bgimage {
  height: 100%;
  width: inherit;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: background-color 1s ease-in-out;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.vc_hoverbox .clickable{
height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 position: absolute;
 z-index: 1;
}

@media only screen and (max-width: 991px) {
  .vc_hoverbox,
  .vc_hoverbox .vc_hoverbox-front ,
  .vc_hoverbox .vc_hoverbox-back  {
      padding-bottom: 56.25%;
      height:400px;
  }
  .vc_hoverbox .vc_hoverbox-back {
    opacity: 1;
    transform: rotateY(0);
    z-index: 2;
  }
  .vc_hoverbox .vc_hoverbox-front {
    background-color: transparent;
  }
  .vc_hoverbox .vc_hoverbox-front .vc_hoverbox-block-inner {
    opacity: 0;
  }
}
