/*------
 Icon
 @className: vc-icon
------*/
.fd-vc-icon {
  text-align: center;
}
.fd-vc-icon .fd-vc-icon__image {
  background-size: contain;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: 0;
}
.fd-vc-icon h2.section-title,
.fd-vc-icon p {
  text-align: center;
  color: #999999;
}
.fd-vc-icon .section-title {
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
}
.fd-vc-icon p {
  font-size: 14px;
}
.fd-vc-icon a,
.fd-vc-icon a:visited {
  color: #99cc33;
}
.fd-vc-icon a.btn {
  color: #FFFFFF;
}
