/*------
 Hover Box
 @className: vc-image
------*/
.vc_image {
  color: #FFFFFF;
  width: 100%;
  height: 400px;
  display: block;
  position: relative;
}
.vc_image a,
.vc_image a:hover,
.vc_image a:visited{
  color: #FFFFFF;
}
.vc_image .vc_image-front {
  z-index: 2;
  width: 100%;
  position: absolute;
  top:0;
  height:400px;
}
.vc_image .vc_image-front .vc_image-block-inner {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 2;
  width: inherit;
  bottom: 20px;
  position: absolute;
}
.vc_image .vc_image-front .vc_image-block-inner h2 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.vc_image .vc_image-block_bgimage {
  height: 100%;
  width: inherit;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: background-color 1s ease-in-out;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

@media only screen and (max-width: 991px) {
  .vc_image,
  .vc_image .vc_image-front  {
      padding-bottom: 56.25%;
      height:auto;
  }
}
