.vc_youtube .video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 400px;
}
/* .vc_youtube .video img { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; cursor: pointer; }
.vc_youtube .video:after {
    content: "";
    position: relative;
    display: block;
    background: url(../img/youtube_player_btn.svg) no-repeat;
    top: 40px;
    width: 100%;
    height: 400px;
    z-index: 30;
    cursor: pointer;
    background-size: contain;
  } */
.vc_youtube .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
//
/* image poster clicked, player class added using js */
/* .vc_youtube .video.player img { display: none; }
.vc_youtube .video.player:after { display: none; } */
@media only screen and (max-width: 1200px) and (min-width: 992px)  {
  /* .vc_youtube .video:after {
    top:65px;
   } */
}
@media only screen and (max-width: 991px) and (min-width: 768px)  {
  /* .vc_youtube .video:after {
    width: auto;
    height: 400px;
    transform: translate(0%, -10%);
   } */
}
@media only screen and (max-width: 767px) and (min-width: 566px)  {
  /* .vc_youtube .video:after {
    width: 518px;
    height: 291px;
    transform: translate(0%, -15%);
   } */
   .vc_youtube .video {
     width: 518px;
     height: 291px;
   }
}
@media only screen and (max-width: 565px)  {
  /* .vc_youtube .video:after {
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
   }
   .vc_youtube .video img {
     position: absolute;
     display: block;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 20;
     cursor: pointer;
   } */
   .vc_youtube .video {
     height: auto;
   }
}
