#ajax-response.error-msg{
  color:red;
}
#form-editor-tabs ul.ui-tabs-nav {
    border-bottom: 1px solid #ddd;
    padding: 7px 0px 0 3px;
    margin: 0;
    min-width: 100%;
    text-align: right;
}
#form-editor-tabs ul.ui-tabs-nav > li {
    display: inline-block;
    border: solid 1px #ddd;
    padding: 3px 7px;
    background-color: #d1d1d1;
    margin: 0 0px -1px;
    border-top-left-radius: 3px;
}
#form-editor-tabs ul.ui-tabs-nav > li.ui-tabs-active {
    background: transparent;
    border-bottom: none;
}
.tagsdiv .tagchecklist > span {
    display: block;
    margin: 0;
    clear: both;
    line-height: 15px;
}
.tagsdiv .tagchecklist button.ntdelbutton{
  display:none;
}
.cf7sg-dynamic-list p.the-tagcloud a {
    display: block;
    line-height: 15px;
    font-size: 13px !important;
    text-decoration: none;
    color: #669;
    cursor:default;
}
#poststuff .cf7sg-dynamic-list  p.the-tagcloud {
  border: none;
  padding: 0;
  margin-left: 14px;
  margin-top:0;
}
.cf7sg-dynamic-list button.tagcloud-link {
    display: none;
}
.cf7sg-dynamic-list .hide-if-no-js {
    margin-top: 0;
}
/*
grid layout
*/
#html-script, #grid-col,
#grid-form .grid-controls,
#grid-form .row-controls .dashicons-no-alt,
#grid-form .grid-column .dashicons-no-alt,
#grid-row, #grid-collapsible, #grid-tabs, .cf7-sg-hidden,
#grid-collapsible-with-toggle,
#grid-cf7-forms,
#grid-form .cf7sg-external-form-content,
#grid-form .table-row-button {
    display: none;
}
#grid-form .row.cf7-sg-table .row-controls label.table-row-button {
    display: block;
    text-align: center;
}
#grid-form .form-select {
    display: block;
    margin: 0 auto;
}
#grid-form .form-controls {
    position: relative;
    padding: 22px;
}
#grid-form .cf7sg-external-form {
    border: solid 1px #777;
    background-color: #ddd;
    margin: 3px 0;
    border-radius: 3px;
}
textarea.grid-input {
    width: 100%;
    min-height: 65px;
}
#grid-form .grid-controls {
    position: absolute;
    background: #f1f1f1;
    padding: 5px;
    border: solid 1px grey;
    width: 137px;
    z-index:1008;
}
#grid-form .container,
#grid-form .table-row-button input  {
    max-width: 100%;
}
#cf7-codemirror .CodeMirror {
    height: calc( 100vh - 180px);
}
#grid-form .row.cf7-sg-table {
    box-shadow: 0px 0px 4px #0093ff;
}
#grid-form .grid-column {
    background-color: #ddd;
}
 #grid-form .dashicons:hover{
   cursor:pointer;
   color: blue;
 }
 #grid-form .dashicons{
   clear:both;
 }
 #grid-form .columns {
  border-top: solid 2px #ddd;
  border-bottom: solid 2px #ddd;
 }
#grid-form .columns.column-selected {
  border-bottom-color: #0055d4;
  border-top-color: #0055d4;
}
#grid-form .container {
   padding: 0;
   border: solid 1px #d7d7d7;
   margin-top: 5px;
   border-radius: 3px;
}
 #grid-form .row {
    padding: 4px 20px 4px 4px;
    position: relative;
    min-height: 90px;
}
#grid-form .row-controls{
    position: absolute;
    top:0;
    right: 0;
    width: 20px;
    display: inline-block;
    height: 100%;
    background: #606060;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#grid-form .row-controls .grid-controls {
    position: absolute;
    top: 20px;
    right: 0px;
    text-align: right;
}
#grid-form .cf7sg-collapsible-title label {
    padding-left: 4px;
}
#grid-form .row-selected .row-controls{
    background-color: #0055d4;
}
#grid-form  .row-controls .dashicons{
  color: #ddd;
}
.dashicons.dashicons-plus.row-control::before, .dashicons.dashicons-plus.form-control::before {
    position: relative;
    top: 1px;
}
#grid-form .grid-column .dashicons-move {
    margin-left: calc(50% - 65px);
}
#grid-form .columns.one .grid-column .dashicons-move {
    margin-left: 0;
}
/*limit inner tables/tabs within tables/tabs */
#grid-form .container.cf7-sg-table .container .row-controls span.dashicons-edit,
#grid-form .container.cf7-sg-tabs-panel .row .row label.tabs-row-label {
    display: none !important;
}
#grid-form .row-controls .dashicons {
    margin-top: 3px;
}
#grid-form .row > div:nth-last-child(2) > .grid-column .dashicons-trash.column-control {
    display: none;
}
#grid-form .row .columns + .columns > .grid-column .dashicons-trash.column-control {
    display: inline-block;
}
#grid-form > .container > .row:first-child > .columns:first-child .dashicons-move.column-control {
    margin-left: calc(50% - 45px);
}
#grid-form > .container:first-child >.row:first-child > .row-controls  .dashicons-trash,
#grid-form > .cf7sg-external-form:first-child > .form-controls  .dashicons-trash {
  visibility:hidden;
}
.CodeMirror-wrap .cm-shortcode {
    color: blue;
}
.CodeMirror-wrap.cm-s-paraiso-light span.cm-string {
    color: #fea218;
}
.disable-button{
  text-decoration: none;
  padding: 0 10px 1px;
  color: #9b9b9b;
  border: solid 1px #ccc;
  background-color: #ccc;
  height: 28px;
  line-height: 26px;
  vertical-align: top;
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  margin: 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.disable-button:hover {
    color: #939393;
    cursor: unset;
}
.disable-button.button:hover {
    cursor: pointer;
    color:inherit;
}
#top-grid-controls {
    padding-top: 2px;
}
#grid-form > .container {
    max-width: 100%;
}
.button.make-grid, .button.external-form {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#form-editor-tabs > ul li > a {
    padding: 3px 8px;
    display: block;
    color: inherit;
    text-decoration: none;
}
div#form-editor-tabs > ul.ui-tabs-nav li {
    padding: 0;
}
#form-editor-tabs ul.ui-tabs-nav > li.ui-tabs-active a:hover {
    cursor: default;
}
.columns .row-controls .table-row-label,
.columns .row-controls .tabs-row-label,
.container.cf7-sg-table + .container  > .row .row-controls .footer-row-label{
    display: inline-block;
}
#grid-form ul.cf7-sg-tabs-list{
    margin: 0;
}
#grid-form ul.cf7-sg-tabs-list li{
    display: inline-block;
    background-color: #d7d7d7;
    padding: 2px 2px 0 5px;
    margin-bottom: -5px;
    border-top-right-radius: 3px;
    margin-top: 2px;
    border-bottom-right-radius: 0px;
}
#grid-form input:disabled:hover, #grid-form .grid-controls label:hover {
    cursor: default;
}
#grid-form .container.cf7-sg-tabs-panel, #grid-form .container.cf7sg-collapsible {
    border: solid 2px #009cff;
}
#grid-form ul.cf7-sg-tabs-list li {
    border-top: solid 2px #009cff;
    border-left: solid 2px #009cff;
    border-right: solid 2px #009cff;
}
#grid-form .two .grid-column .dashicons-move {
    margin-left: -2px;
}
#grid-form  .cf7-field-inner input,
#grid-form  .cf7-field-inner textarea,
#grid-form  .cf7-field-inner span.dashicons {
    display: none;
}
#grid-form  .cf7-field-inner span.dashicons {
  position:absolute;
  margin-top: 2px;
  background: #a5a5a5;
  padding: 3px 0 0px 0;
  top: 0;
  right: 0;
}
#grid-form  .cf7-field-inner {
  padding: 0px 10px;
  background: #ededed;
  margin: 0;
  position: relative;
}
#grid-form  .cf7-field-tip .content {
    font-size: 90%;
    color: #727272;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#grid-form .cf7-field-type .content {
    border: solid 1px;
    width: 100%;
    display: block;
    padding: 3px 0px 3px 3px;
    border-radius: 2px;
    text-align: center;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#grid-form p.content:hover {
    cursor: pointer;
    color: blue;
}
#grid-form .cf7-field-inner input,
#grid-form .cf7-field-inner textarea {
    width: calc(100% - 10px);
}
#grid-form .cf7-field-type.textarea p.content {
    padding: 35px 0;
}
#grid-form  .cf7-field-inner p {
    margin: 0;
    min-height: 20px;
}
#grid-form  .grid-column.submit-field .cf7-field-label,
#grid-form  .grid-column.submit-field .cf7-field-tip {
    display: none;
}
#grid-form  .cf7-field-type.select .content::after,
#grid-form  .cf7-field-type.dynamic-select .content::after {
    content: '\25BC';
    position: absolute;
    right: 13px;
    font-size: 2em;
    line-height: 1px;
    top: 12px;
}
#grid-form  .cf7-field-type.radio .content::after {
  content: '\25c9';
  position: absolute;
  left: 23px;
  font-size: 1.3em;
  line-height: 1px;
  top: 12px;
}
#grid-form  .cf7-field-type.checkbox .content::after {
  content: '\25a1';
  position: absolute;
  left: 23px;
  font-size: 1.3em;
  line-height: 1px;
  top: 12px;
}
.row-controls .dashicons-move.row-control,  .row-controls .dashicons-move.form-control{
    visibility: hidden;
}
.container + .container > .row > .row-controls .dashicons-move,
.container + .cf7sg-external-form > .form-controls .dashicons-move,
.cf7sg-external-form + .container > .row > .row-controls .dashicons-move {
    visibility: visible;
}
.cf7sg-warning {
    position: absolute;
    display: block;
    top: 0;
    right: 50px;
    background: white;
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 3px;
    font-size: 1.2em;
    margin-top: 50px;
}
