/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .cf7-smart-grid.has-grid .ui-button {
    border-radius: 3px;
}
/*
.cf7-sg-tabs-list li span.cf7sg-close-tab {display: none !important;}
.cf7-sg-tabs-list li:last-child span.cf7sg-close-tab {display: inline-block !important;}
*/
ul.cf7-sg-tabs-list li .dashicons.dashicons-no-alt {
    position: absolute;
    right: 0;
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ui-tabs .cf7-sg-tabs-list.ui-tabs-nav .ui-tabs-anchor {
    padding: .5em 20px;
}
ul.cf7-sg-tabs-list li {
    position: relative;
}
.cf7-sg-tabs.ui-tabs ul.ui-tabs-nav li a:hover,
.cf7-sg-tabs.ui-tabs ul.ui-tabs-nav li .dashicons-no-alt:hover {
    cursor: pointer;
}
 .cf7-smart-grid .dashicons{
  vertical-align: middle;
}
.ui-tabs .cf7sg-add-tab.ui-tabs-nav {
    display: inline-block;
    padding-left: 0;
    margin-left: -0.4em;
}
ul.cf7-sg-tabs-list {
    display: inline-block;
}
 .cf7-smart-grid .cf7-sg-table-button {
  text-align: right;
  margin-top: 10px;
}
.cf7-smart-grid .row.cf7-sg-table-footer {
    margin-top: 5px;
}
.cf7-smart-grid .row.cf7-sg-table {
    margin-top: 3px;
}
.cf7-smart-grid .row.cf7-sg-table-footer+.cf7-sg-table-button {
    margin-top: 0;
}
.row.cf7-sg-table-layout .columns input:not([type="submit"]){
  width:100%;
}
.row.cf7-sg-table {
  position:relative;
}
.row.cf7-sg-table .row-control .dashicons:hover {
    cursor: pointer;
}
.row.cf7-sg-table .row-control {
    position: absolute;
    height: 100%;
    border: solid 1px #b9b9b9;
    border-left: none;
    width: 5px;
    display:none;
}
.row.cf7-sg-table:nth-last-child(2) .row-control {
    display: inline;
}
.row.cf7-sg-table .row-control .dashicons {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -5px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px #b9b9b9;
    color: #848484;
}
.cf7-smart-grid.has-grid div.field span.wpcf7-not-valid-tip {
    display: inherit;
    position: absolute;
    left: 0;
    top: 115%;
    background: #e9e9e9;
    padding: 3px 10px;
    border-radius: 3px;
    min-width: 195px;
    line-height: 1.2em;
    z-index: 7777;
}
span.cf7sg-validation-warning {
    display: block;
    font-size: 80%;
    color: #626262;
    position: absolute;
    right: 50%;
    top: 25px;
    width: 140px;
    height: auto;
    border-radius: 3px;
    border: solid 1px #656565;
    background: #f2f2f2;
    margin-right: -70px;
    z-index:999;
    padding: 2px 3px;
}
.cf7sg-validation-warning .confirm-button {
    position: absolute;
    bottom: -13px;
    right: -19px;
    background: white;
    padding: 1px 5px;
    border: #989898 solid 2px;
    border-radius: 5px;
    color: #8f0000;
    text-transform: uppercase;
    font-size: 0.9em;
    cursor:pointer;
}
.cf7-smart-grid.has-grid input.select2-search__field{
  background-image: url('search.png');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: 50%;
}
.cf7sg-collapsible .row.ui-accordion-content {
    min-height: 120px;
    overflow: unset;
}
.cf7-smart-grid.has-grid .field {
    width: 100%;
}
.cf7-smart-grid.has-grid .wpcf7-form-control {
    width: 100%;
}
.cf7-smart-grid.has-grid .select2 {
    width: 100% !important;
}
.cf7-smart-grid.has-grid .field .wpcf7-form-control-wrap{
  display: inline-block;
  width: 100%;
}
.cf7-smart-grid.has-grid .cf7-tags-2 .field .wpcf7-form-control-wrap {
  max-width: 200px;
  width: 50%;
}
#cf7sg-container .cf7-smart-grid.has-grid .row.cf7-sg-table > .columns > .container > .container {
    padding: 0;
}
.cf7-smart-grid.has-grid .field .wpcf7-form-control-wrap + .wpcf7-form-control-wrap {
    vertical-align: middle;
}
.cf7-smart-grid.has-grid .field > label {
    display: block;
    margin-bottom: 0;
}
.cf7-smart-grid.has-grid .field > label em {
    color: red;
}
.cf7-smart-grid.has-grid .info-tip {
    margin-bottom: 5px;
    font-size: 90%;
    font-style: italic;
    color: grey;
}
.cf7-smart-grid.has-grid .wpcf7-form-control {
    min-height: 34px;
    border-radius: 3px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control.nice-select {
    line-height: 32px;
    height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection__arrow {
    min-height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
    font-size: 0.9em;
}
.cf7-smart-grid.has-grid .select2-results__option {
    font-size: 0.8em;
}
.cf7-smart-grid.has-grid .wpcf7-form-control-wrap .select2-selection.select2-selection--single {
    min-height: 34px;
}
.cf7-smart-grid.has-grid .wpcf7-form-control.wpcf7-radio,
.cf7-smart-grid.has-grid .wpcf7-form-control.wpcf7-checkbox {
    display: inline-block;
}
.cf7sg-collapsible.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    right: .5em;
    left: unset;
}
.cf7sg-collapsible .ui-state-default {
    background: transparent;
}
.cf7-smart-grid.has-grid .wpcf7-submit {
    background: #383838;
    border: solid 1px #383838;
    border-radius: 3px;
    font-size: 110%;
    font-weight: bold;
    color: white;
}
.cf7-smart-grid.has-grid .wpcf7-save {
    background: transparent;
    color: #383838;
}
.cf7sg-collapsible .toggle {
  /*max-width: 55px;*/
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.cf7sg-collapsible .toggle-light .toggle-on,
.cf7sg-collapsible .toggle-light .toggle-off {
  font-size: 0.75em;
}
.cf7sg-external-form {
    margin-bottom: 5px;
}
#cf7sg-container .cf7-smart-grid.has-grid .container {
    margin-bottom: 5px;
}
#cf7sg-container .cf7-smart-grid.has-grid .container:last-child {
    margin-bottom: 0;
}
.cf7-smart-grid.has-grid .nice-select ul.list {
    max-height: 300px;
    overflow-y: auto;
}
a.cf7sg-button {
    min-height: 34px;
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #383838;
    color: white;
    border: solid 1px #383838;
    border-radius: 3px;
    font-weight: bold;
    font-size: 110%;
}
