footer.content-info {
  padding-top: 36px;
  font-size: 12px;
}

.footer__logo {
  width: 150px;
  padding-bottom: 24px;
}

.footer__hygenie {
  font-size: 12px;
  border-top: 3px solid $base-grey;
  width: 100%;

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 -15px;

    li {
      padding-right: 48px;
      color: $base-grey;
      font-size: 12px;

      a {
        color: $base-grey;
        text-decoration: none;

        &:hover {
          color: $base-green;
          padding-bottom: 8px;
          border-bottom: 2px solid $base-green;
        }
      }
    }
  }
}

.footer__socialCopy {
  padding: 24px 0;
  color: $base-grey;
  border-bottom: 3px solid $base-grey;
  text-align: center;
  font-size: 12px;
  margin: auto 0;
}

.footer_partnerLogos {
  text-align: center;
  padding: 32px 0;
  color: $base-grey;
  font-weight: 700;
  font-size: 12px;

  .partner-logo {
    height: 36px;
    width: auto;
    display: flex;
    padding: 0 18px;
  }
}

.footer__menu-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: -10px;
  flex-direction: column;
  height: 450px;
  @include desktop {
    height: 700px;
  }
  @include tablet {
    height: 400px;
  }
  @include mobile {
    height: auto;
  }

  .footer__menu-item--uppercase {
    flex: 0 1;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;

    .footer__menu-item {
      text-transform: none;
      font-weight: 400;
      margin-top: 5px;
    }

    a {
      color: $base-grey;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $base-lightgrey;
        text-decoration: none;
      }
    }
  }
}

.footer__logo-newsletter-social-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 56px;
  @include mobile {
    justify-content: space-between;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .footer__logo--nzFieldaysSociety {
    width: auto;
    height: 56px;
    @include mobile {
      height: 72px;
    }
  }

  .footer__newsletter {
    width: 230px;
    padding: 10px;
    @include mobile {
      padding: 8px 0 16px;
    }
    input{
      font-size: 12px;
    }
    button.btn{
      margin:0;
    }
  }

  .footer__socialBtns {
    width: auto;
    padding: 10px 0;
  }

  .btn-primary,
  input[type=text] {
    font-size: 12px;
    line-height: 16px;
    .footer__newsletter-btn {
      height: 10px;
      padding: 0 4px;
    }
  }
}

.input-group-btn:not(:first-child)>.btn{
      border: none;
}
