.header {
  display: inline-block;
  width: 100%;
  height:auto;

  nav.navbar {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .header__logo {
    float: left;
    display: block;
    width: 150px;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__nav {
    &.nav{
      justify-content: flex-end;
      flex-direction: row;
      @include mobile {
        justify-content: flex-start;
        flex-direction: column;
      }
    }
    li {
      text-transform: uppercase;
      padding: 14px 0 0;
      margin-left: 20px;
      margin-right: 0;
      @include mobile {
        margin-left: 0;
        padding: 10px 0;
      }

      font-size: 14px;
      font-weight: 700;
      @include tablet {
        font-size: 12px;
        padding: 8px 0 0;
        margin-left: 10px;
      }

      a {
        padding-bottom: 12px;
        text-decoration: none;
        @include tablet {
          padding-bottom: 14px;
        }
        @include mobile {
          padding-bottom:0;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &.menu-item a {
        border-bottom: none;
        color: $base-black;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $base-grey;
        }
      }

      &.current-menu-item a {
        color: $base-green;
        border-bottom: 3px $base-green solid;
        @include mobile {
          border-bottom: 3px transparent solid;
        }

        &:hover {
          color: lighten($base-green, .8);
        }
      }
    }
  }
  .navbar-toggler {
    padding: 0.25rem 0;
  }
  .menu-primary-menu-container{
    width:100%;
  }
}
