.articles {
  margin-top: 22px;
}

.grid.column-4 {
  margin-left: -1%;
  margin-right: -1%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.grid .tile.shadow {
  /* overflow: hidden; */
  background: white;
}

.grid.column-4 .post {
  float: left;
  width: 23%;
  margin: 0 1% 20px;
}
@include tablet {
  .grid.column-4 .post {
    width: 48%;
    margin-bottom: 20px;
  }
}
@include mobile {
  .grid.column-4 .post {
    width: 100%;
  }
}

.grid .tile {}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
/*------
  Read More button
------*/
.post--read-more {
  display: flex;

  a {
    margin: 0;
  }
}
/*------
  Post content
------*/
.articles {
  article.post {
    display: block;

    .post-snip {
      padding-top: 20px;

      h3 {
        font-size: 24px;

        a {
          color: $base-green;
          text-decoration: none;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: darken($base-green, 10%);
          }
        }
      }
    }

    .date-meta {
      font-size: 13px;
      color: $base-lightgrey;
    }

    p {
      margin-top: 12px;
      display: flex;
    }

    .thumbnail {
      .post-thumbnail {
        background-position: center;
        height: 180px;
        background-size: cover;
        @include desktop {
          height: 120px;
        }
        @include tablet {
          height: 200px;
        }
        @include mobile {
          height: 240px;
        }
      }
    }
  }
}
/*------
  Post single content
------*/
.post--nav {
  .btn.btn-secondary {
    margin: 0 0 50px;
  }
}

.post--head{
  position: relative;
  box-sizing: border-box;
}

.post__header {
  width: 100%;
  margin-top: 32px;
  .post__header--inner {
    height: 400px;
    background-size: cover;
    background-position: top;
    @include tablet {
      height: 320px;
    }
    @include mobile {
      height: 260px;
    }
    .post__header--caption {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: auto;
      right: auto;
      h1 {
        text-shadow: 0 2px 4px rgba(0, 0, 0, .4);
        margin: auto 10%;
        font-size: 36px;
        text-align: center;
        color: $base-white;
        @include tablet {
          font-size: 32px;
        }
        @include mobile {
          font-size: 26px;
        }
      }
    }
  }
}
