/*------
 Video
 @className: vc_youtube
------*/

// .vc_youtube .video { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; }
// .vc_youtube .video img { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; cursor: pointer; }
// .vc_youtube .video:after { content: ""; position: absolute; display: block;
//     background: url(../img/youtube_player_btn.svg) no-repeat 0 0;
//     top: 36%; left: 42%; width: 90px; height: 90px; z-index: 30; cursor: pointer; }
// .vc_youtube .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
// //
// /* image poster clicked, player class added using js */
// .vc_youtube .video.player img { display: none; }
// .vc_youtube .video.player:after { display: none; }

.vc_youtube .video{
  position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;
  img{
    position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; cursor: pointer;
  }
  &:after{
    content: ""; position: absolute; display: block;
        background: url(../img/youtube_player_btn.svg) no-repeat 0 0;
        top: 36%; left: 42%; width: 90px; height: 90px; z-index: 30; cursor: pointer;
  }
  iframe{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }
  &.player{
    &:after{
      display: none;
    }
    img{
      display: none;
    }
  }
}
