$base-green: #99cc33;
$base-grey: #999999;
$base-lightgrey: #666666;
$base-yellow: #ffcc33;
$base-black: #000000;
$base-white: #ffffff;

$font-stack: Helvetica, Arial, sans-serif;
$line-height: 1.5;
$text-color: $base-black;

.wrap.container {
  font: normal 16px $font-stack;
  color: $base-grey;
  line-height: $line-height;
  p, li, ol{
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

h2.title{
  font-size: 18px;
  border-bottom: 2px solid #FFFFFF;
  display: inline-block;
  padding-bottom: 6px;
}
