
/*
* Media queries
 Use example:
 @include mobile {
   font-size: 16px;
 }
  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 20px;
  }

*/

$tablet-width: 768px;
$large-desktop-width: 1200px;
$desktop-width: 992px;


@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}
